div#items-container {
  $height: 400px;
  overflow: hidden;
  height: $height;
  .items-tree{
    overflow: hidden;
    float: left;
    width: 30%;
  }
  div#item {
    float: right;
    width: 70%;
  }
}
